<div class='top_and_bottom'>
    
    <div id='left'>
        <h1>ЦеноСтрой</h1>
        <p>Лучшие цены на</p>
        <p>стройматериалы</p>
    </div>

    <div id='right'>
        <p>ВХОД/РЕГИСТРАЦИЯ</p>
        <p>Добавить товар</p>
    </div>

</div>
<input value="поиск" size='50'>






<div id='content'>
    <div>
        <p>Категория 1</p>
        <p>Категория 2</p>
        <p>Категория 3</p>
        <p>Категория 4</p>
        <p>Категория 5</p>
        <p>Категория 6</p>
        <p>Категория 7</p>
        <p>Категория 8</p>
        <p>Категория 9</p>
        <p>Категория 10</p>
        <p>Категория 11</p>
        <p>Категория 12</p>
        <p>Категория 13</p>
    </div>
    <div>
        <p>Категория 14</p>
        <p>Категория 15</p>
        <p>Категория 3</p>
        <p>Категория 4</p>
        <p>Категория 5</p>
        <p>Категория 6</p>
        <p>Категория 7</p>
        <p>Категория 8</p>
        <p>Категория 9</p>
        <p>Категория 10</p>
        <p>Категория 11</p>
        <p>Категория 12</p>
        <p>Категория 13</p>
    </div>
    <div>
        <p>Категория 1</p>
        <p>Категория 2</p>
        <p>Категория 3</p>
        <p>Категория 4</p>
        <p>Категория 5</p>
        <p>Категория 6</p>
        <p>Категория 7</p>
        <p>Категория 8</p>
        <p>Категория 9</p>
        <p>Категория 10</p>
        <p>Категория 11</p>
        <p>Категория 12</p>
        <p>Категория 13</p>
    </div>
</div>













<div class='top_and_bottom'>
    <div> 
        <p>орагнизация 1</p>
        <p>орагнизация 2</p>
    </div>
    <div> 
        <p>орагнизация 3</p>
        <p>орагнизация 4</p>
    </div>
    <div> 
        <p>орагнизация 5</p>
        <p>орагнизация 6</p>
    </div>
    <div> 
        <p>орагнизация 7</p>
        <p>орагнизация 8</p>
    </div>
</div>

 