.flex {display: flex;}

.top_and_bottom {
    background-color: coral;
    justify-content: space-between;
}
#logo {font-size: 3vw;}
#right { 
    text-align: right;
}
input {
    text-align: center;
}
.content1 {
    display: flex;
    margin: 1vw;
    justify-content: space-around
}


.content1 li {
    font-size: 3vw;
}

#wrap1 {
    display: block;
}


#leve1 {margin-left: 2vw;}
.leve2 {margin-left: 4vw;}
.leve3 {margin-left: 6vw;}

li {margin: 1vw;}
#to_root {margin-bottom: 2vw;}

.bold {font-weight: bold;}


table {
    background-color: rgb(193, 222, 223);
    border-collapse: collapse;
    height: 3vw;
}

.td {border: rgb(20, 17, 17) solid thin;
    background-color: rgb(250, 215, 212);
}

.td_top {
    background-color: rgb(91, 139, 102);
    border: rgb(20, 17, 17) solid thin;
}

  