<div class='top_and_bottom'>
    
    <div id='left'>
        <h1>ЦеноСтрой</h1>
        <p>Лучшие цены на</p>
        <p>стройматериалы</p>
    </div>

    <div id='right'>
        <p>ВХОД/РЕГИСТРАЦИЯ</p>
    </div>

</div>