<div class='top_and_bottom flex'>
    <div> 
        <p>орагнизация 1</p>
        <p>орагнизация 2</p>
    </div>
    <div> 
        <p>орагнизация 3</p>
        <p>орагнизация 4</p>
    </div>
    <div> 
        <p>орагнизация 5</p>
        <p>орагнизация 6</p>
    </div>
    <div> 
        <p>орагнизация 7</p>
        <p>орагнизация 8</p>
    </div>
</div>